@charset "UTF-8";

/* Import ET Book styles
@font-face {
  font-family: "et-book";
  src: url("assets/font/et-book-roman-line-figures.eot");
  src: url("assets/font/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"),
    url("assets/font/et-book-roman-line-figures.woff") format("woff"),
    url("assets/font/et-book-roman-line-figures.ttf") format("truetype"),
    url("assets/font/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 */

/* General Typography Overrides */
html {
  scroll-behavior: smooth;
}

/* 
body {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #151515 !important;
  color: #ddd;
  counter-reset: sidenote-counter;
}
*/

article {
  position: relative;
}

/* Sidenotes and Marginnotes */
.sidenote,
.marginnote {
  width: 50%;
  /*
  right: 0;
  position: absolute;
  */
  float: right;
  clear: right;
  margin-right: -50%;
  vertical-align: baseline;
  padding-left: 2rem;
  font-size: 1.1rem;
  line-height: 1.3;
}

.sidenote-number {
  counter-increment: sidenote-counter;
  vertical-align: super;
  font-size: 1rem;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  /* color: #999; */
}

input.margin-toggle {
  display: none;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media (max-width: 991.98px) {

  /* Let body text use full width */
  article>p,
  article>ul,
  article>blockquote {
    width: 100% !important;
  }

  /* Style toggle labels as clickable */
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
    vertical-align: super;
    font-size: 1rem;
    cursor: pointer;
    color: var(--bs-link-color);
  }

  label.margin-toggle.sidenote-number {
    cursor: pointer;
    color: var(--bs-link-color);
  }

  /* Hide sidenotes/marginnotes by default */
  .sidenote,
  .marginnote {
    display: none;
  }

  /* Show when toggled */
  .margin-toggle:checked+.sidenote,
  .margin-toggle:checked+.marginnote {
    display: block;
    float: left;
    clear: both;
    width: 95%;
    margin: 0.5rem 0 0.5rem 2.5%;
    padding: 0.5rem 0;
    font-size: 1rem;
    vertical-align: baseline;
  }
}

/* Figures */
figure {
  margin: 1rem 0;
}

figcaption {
  font-size: 0.9rem;
  color: #555;
}



code {}

pre code {}