---
layout: layouts/base.njk
eleventyNavigation:
  key: Blog 
  order: 3
---

<div class="row">
  <div class="col-8">

<h1>Blog</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

  </div>
  <div class="col-4">

<h1>Tags</h1>
    <ul>
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>

  </div>
</div>
