---
layout: layouts/base.njk
eleventyNavigation:
  key: Blog 
  order: 4
pagination:
  data: collections.posts
  size: 10
  alias: postslist
  reverse: true
---

<div class="row">
  <div class="col-8">

{{ "# Blog" | markdownit | safe }}

{% include "postslist.njk" %}

  </div>
  <div class="col-4">

{{ "# Tags" | markdownit | safe }}

{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> ({{collections[tag].length}}) - 
{% endfor %}

  </div>

</div>

<div class="row">

  <ul class="nav justify-content-center">
    <li class="nav-item"><a href="{% if page.url != pagination.href.first %}{{ pagination.href.first }}{% else %}#{% endif %}" class="nav-link">First</a></li>
    <li class="nav-item"><a href="{% if pagination.href.previous %}{{ pagination.href.previous }}{% else %}${% endif %}" class="nav-link">Previous</a></li>
{%- for pageEntry in pagination.pages %}
    <li class="nav-item"><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} class="nav-link">Page {{ loop.index }}</a></li>
{%- endfor %}
    <li class="nav-item">{% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="nav-link">Next</a>{% else %}Next{% endif %}</li>
    <li class="nav-item">{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}" class="nav-link">Last</a>{% else %}Last{% endif %}</li>
  </ul>

</div>