---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	},
    layout: "layouts/base.njk",
};
---

{{ ["# Tagged “", tag, "”"] | join | markdownit | safe }}

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="tags.njk">all tags</a>.</p>