<div id="gallery" class="pswp-gallery mb-5">
  {% for image in gallery %} {% gimage image.url, image.alt %} {% endfor %}
</div>


{% css %}{% include "node_modules/photoswipe/dist/photoswipe.css" %}{% endcss %}
{% css %}
.pswp__custom-caption {
  background: rgba(24, 28, 24, 0.75);
  font-size: 16px;
  color: #fff;
  width: calc(100% - 32px);
  max-width: 400px;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.hidden-caption-content {
  display: none;
}
{% endcss %}

{% js %}
{% include "node_modules/photoswipe/dist/photoswipe.esm.min.js" %}
{% include "node_modules/photoswipe/dist/photoswipe-lightbox.esm.min.js" %}
{% endjs %}

<script type="module">
// Include Lightbox 
import PhotoSwipeLightbox from '/js/photoswipe/photoswipe-lightbox.esm.min.js';

const lightbox = new PhotoSwipeLightbox({
  // may select multiple "galleries"
  gallery: '#gallery',

  // Elements within gallery (slides)
  children: 'a',

  // setup PhotoSwipe Core dynamic import
  pswpModule: () => import('/js/photoswipe/photoswipe.esm.min.js')
});
lightbox.on('uiRegister', function() {
  lightbox.pswp.ui.registerElement({
    name: 'custom-caption',
    order: 9,
    isButton: false,
    appendTo: 'root',
    html: 'Caption text',
    onInit: (el, pswp) => {
      lightbox.pswp.on('change', () => {
        const currSlideElement = lightbox.pswp.currSlide.data.element;
        let captionHTML = '';
        if (currSlideElement) {
          const hiddenCaption = currSlideElement.querySelector('.hidden-caption-content');
          if (hiddenCaption) {
            // get caption from element with class hidden-caption-content
            captionHTML = hiddenCaption.innerHTML;
          } else {
            // get caption from alt attribute
            captionHTML = currSlideElement.querySelector('img').getAttribute('alt');
          }
        }
        el.innerHTML = captionHTML || '';
      });
    }
  });
});
lightbox.init();
</script>