{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
{# {% for post in postslist | reverse %} #}
{% for post in postslist %}
	{% if (not postsyear) or (postsyear === post.data.year) %}
	<p class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} pb-4">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title | markdowninline | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<br />
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
		<br />
		<span class="fs-6">
		Tags: {% for tag in post.data.tags | filterTagList %} <a href="/tags/{{ tag | slug }}">{{ tag }}</a>{% if not loop.last %}, {% endif %} {% endfor %}
		</span>
		<br />
		{% if post.data.grade %} <span class="fs-6">Grade: {{ post.data.grade }}</span> {% endif %}
	</p>
	{% endif %}
{% endfor %}
