<!doctype html>
<html lang="{{ metadata.language }}" data-bs-theme="dark">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">
	<meta name="build.version" content="{{ eleventy.version }}">
	<meta name="config.version" content="{{ config.version }}">

	{#- Atom and JSON feeds included by default #}
	<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
	<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

	{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site! #}
	{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

	{#-
	CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
	1. You can add to them using `{% css %}`
	2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
	3. You can do the same for JS: {% js %}{% endjs %} and
	4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
	#}
	{%- js %}{% include "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}{% endjs %}
	<script>{% getBundle "js" %}</script>

	{#- Add an arbitrary string to the bundle #}
	{#- Add the contents of a file to the bundle #}
	{%- css %}
	{% endcss %}
	{#- 
	{%- css %}{% include "public/css/et-font.css" %}{% endcss %}
	{%- css %}{% include "public/css/et-bootstrap.css" %}{% endcss %}
	{%- css %}{% include "public/css/tufte.css" %}{% endcss %}
	#}
	{#- Or add from node_modules #}
	{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

	{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
	<style> {% getBundle "css" %} </style>
	{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
	{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	<link rel="stylesheet" href="/css/shanest.css">
	<!-- <script src="/js/collapse.js" defer></script> -->


</head>



<body class="container">

	<header>
		<nav class="navbar navbar-expand-md border-bottom border-primary border-2">
			<div class="container">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a href="/" class="navbar-brand fs-2">{{ metadata.title }}</a>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ms-auto mb-2 mb-md-0">
						{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item">
							<a href="{{ entry.url }}" class="nav-link {%if entry.url==page.url %}active{% endif %} fs-4" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
						</li>
						{%- endfor %}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main class="container pt-5">
		<div class="row">
			<div class="col-11 mx-auto">
				{{ content | safe }}
			</div>
		</div>
	</main>

	<footer>
		<script data-goatcounter="https://shanest.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
	</footer>

</body>

</html>